<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2017.10.11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CD5702A1F8DED7D00F3EA10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5703E1F8DED7E00F3EA10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD570491F8DED7E00F3EA10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
